@import vars

#app
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 800px
  max-width: 1600px
  height: 100%
  display: flex
  align-items: flex
  justify-content: center
  background-color: $color-white

.app-container
  display: flex
  flex-direction: column
  width: 100%
  height: 100%

  .top-bar
    width: 100%
    height: $top-bar-height
    margin-bottom: $component-margin
    flex-shrink: 0

  .controls-and-content-container
    display: flex
    width: 100%
    height: 100%
    overflow: hidden

    .main-content
      display: grid
      grid-template-columns: 50% 50%
      color: $main-content-color
      background-color: $color-white
      width: 100%
      height: 100%

      .section
        color: $color-nav-cinder-dark3
        background-color: $color-white
        border: $component-border-width solid white
        border-radius: $component-border-radius
        margin: 0
        border-radius: 0

        &.simulation
          display: flex
          flex-direction: column

          .subsection
            display: flex
            flex-grow: 1
            &.simulation
              position: relative
              flex-grow: 2
            &.sim-controls
              z-index: 1

        &.chart-table
          display: grid
          grid-template-rows: 320px auto

          .subsection
            overflow: hidden
            display: flex
            justify-content: center
            border-left: 2px solid $color-nav-cinder-light3
            &.diagram
              margin-top: 6px
              padding-bottom: 16px
              div
                text-align: center
            &.table
              border-top: 4px solid $color-nav-cinder-light2
              border-top-left-radius: 10px
              margin-top: -6px
              z-index: 0
              overflow-y: auto
            &.chart
              position: relative
              overflow-y: auto
              padding-bottom: 16px
.simulation-controls
  width: 400px
  display: flex
  flex-direction: row
  align-items: center
  .run-simulation-button
    margin: 10px 20px
    display: flex
    width: 158px
    height: 65px
    border-radius: 8px
    border: 1px solid silver
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5)

    &:hover
      background-color: #f0f0f0
    &:active
      box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.5);
    .simulation-button-text
      padding: 10px 0px 10px 10px
      width: 100px
    .simulation-button-icon
      margin: 10px 4px 10px 4px
      width: 60px
      background-repeat: no-repeat
      background-size: contain
      background-position: center
      &.carb
        background-image: url('../assets/carbs-button.png')
      &.protein
        background-image: url('../assets/protein-button.png')