.simulation-container
  .simulation-placeholder
    width: 400px
    height: 315px
    background: silver
    border: 1px solid silver
    box-sizing: border-box
    &.carb
      background-image: url("../assets/dance-carb.png")
    &.protein
      background-image: url("../assets/dance-protein.png")

    video
      width: 100%
