.simulation-container
  .simulation-placeholder
    position: relative
    width: 400px
    height: 315px
    background: silver
    border: 1px solid silver
    box-sizing: border-box
    background-image: url("../assets/dance_placeholder.png")

    video
      width: 100%

    .simulation-text
      position: absolute
      bottom: 5px
      font-size: 0.9em
      background: rgba(255,255,255,0.5)
      width: 100%
      text-align: center
      z-index: 2