@keyframes pulse
  from
    filter: brightness(1) sepia(0) saturate(1000%) hue-rotate(0deg)
  50%
    filter: brightness(1) sepia(1) saturate(1000%) hue-rotate(0deg)
  to
    filter: brightness(1) sepia(0) saturate(1000%) hue-rotate(0deg)

.energy-diagram-container
  width: 150px
  height: 200px
  background-image: linear-gradient(#666666, black);
  display: inline-block
  margin: 10px
  padding: 10px
  position: relative
  border: 8px solid silver
  border-radius: 20px
  &.inactive
    opacity: 0.5

  .energy-diagram-placeholder
    width: 100%
    height: 100%
    background-image: url("../assets/silhouette_invert.png")
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat
    filter: brightness(1) sepia(0) saturate(1000%) hue-rotate(0deg)
    &.running
      animation-name: pulse
      animation-duration: 1.0s
      animation-iteration-count: 15

  .energy-bar-input
    width: 16px
    height: 0px
    background-color: yellow
    position: absolute
    left: 8px
    bottom: 0px
    transition: 1s

  .energy-bar-hunger
    width: 16px
    height: 0px
    background-color: orange
    position: absolute
    right: 10px
    bottom: 0px

  .energy-bar-expended
    width: 16px
    height: 0px
    background-color: green
    position: absolute
    left: 28px
    bottom: 0px